body {
  font-family: "Noto Sans JP", sans-serif;
}

#chart-table {
  height: 90vh;
}

#chart-table > div > table > tbody > tr > td {
  height: 60px;
  vertical-align: middle;
}

#chart-table > div > table > tbody > tr > .banner {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
